<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="YandexDisk" verbose="1">
    <test name="LogIn" >
        <classes>
            <class name="com.epam.tat.yandex.YandexDiskLogIn" />
        </classes>
    </test>
    <test name="Menu">
        <classes>
            <class name="com.epam.tat.yandex.YandexDiskMenu"/>
        </classes>
    </test>
    <test name="Folder">
        <classes>
            <class name="com.epam.tat.yandex.YandexDiskFolder"/>
        </classes>
    </test>
    <test name="Document">
        <classes>
            <class name="com.epam.tat.yandex.YandexDiskDocument"/>
        </classes>
    </test>
    <test name="Trash">
        <classes>
            <class name="com.epam.tat.yandex.YandexDiskTrash"/>
        </classes>
    </test>
</suite>
