<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.epam.tat.framework.logger">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - %msg%n"/>
        </Console>
        <File name="File" fileName="target/logs/mylog.log">
            <PatternLayout>
                <Pattern>%d %5p %c [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <RollingFile name="RollingHTML" fileName="target/logs/app-info.html"
                     filePattern="target/logs/app-info-%d{yyyy-MM-dd}.html">
            <HTMLLayout charset="UTF-8" title="My First HTML layout"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
        </RollingFile>
        <MyCustomAppender name="abc">
        </MyCustomAppender>
    </Appenders>
    <Loggers>
        <Logger name="com.epam.tat" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="RollingHTML"/>
            <AppenderRef ref="Reporter"/>
        </Logger>
        <Root level="FATAL">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>